@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&family=Rubik:wght@600;700&display=swap');


.App {
  text-align: center;
  background: #ffc747;
/*     
    background: linear-gradient(0deg, #FFD3A5 10%, #FD6585 40%); */
    background: linear-gradient(217deg,
          rgba(245, 207, 181, 0.974),
          rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
        linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
    
  
  }


  .home {
    min-height: 600px !important;
  }

h2 {
  font-family: Rubik;
  
}

p {
  font-family: Montserrat;
}

nav {
  font-family: Montserrat;
  
}

.nav-link {
  color: black !important;
}

.w-35 {
  width: 35% !important;
}
.w-65 {
  width: 65% !important;
}


.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.portfolio img {
    width: 550px;
    height: 400px;

}

.mainImg img {
  width: 400px !important;
  height: 400px !important;
  
  
}

.btn {
  width: 150px !important;
  height: 60px;
  margin: 10px;
  padding: 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  /* text-shadow: 0px 0px 10px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
}

.btn {
  background-image: linear-gradient(to right, #c3130d 0%, #f8f18b 51%, #f8af29 100%);
}


.customCard {
  min-height: 300px;
}

/* portfolio */

.workImage {
  width: 100%;
  position: relative;
  transition: all .4s ease-in-out;

}

.imgWrapper {
  z-index: 8;
  transform: scale(1);
  transition: all .4s ease-in-out;
  padding: 0 !important;
}

.imgContent {
  box-sizing: border-box;
  width: 100% !important;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  padding-top: 25%;
  background-color: rgba(246, 246, 246, 0.889);
  color: rgb(46, 99, 184);
}

.imgContent {
  opacity: 0;
  transition: opacity 0.3s;
  transition: all .4s ease-in-out;
}

.imgWrapper:hover .imgContent {
  opacity: 1;
}

@media (max-width: 768px) {
  .home {
    flex-direction: column-reverse !important;
    gap: 60px;
  }
    .home > div {
      width: 80% !important;
      margin: 0 auto;
    }
    .about {
      width: 80% !important;
        margin: 0 auto;
    }
    #resume,
    #contacts {
      width: 80% !important;
      margin: 0 auto;
    }
    
    .singleDescription {
      flex-direction: column;
    }
    .singleDescription > div {
        width: 100% !important;
    }
    .singleArea {
      padding-left: 25px;
    }
    .skillMedia {
      flex-direction: column !important;
      gap: 60px;
    }
    .skillMedia > div {
          width: 100% !important;
        }
    #contacts > div {
      padding: 0 !important;
      width: 100% !important;
        }



}
